<div class="searchComponent">
    <mat-toolbar>
        <button mat-flat-button color="accent" (click)="tour()">Guide</button>

        <!-- <div class="display__flex jsutify-content-end" > -->
            <div class="display__flex jsutify-content-space-between">
                {{userName}}
                <input type="text" style="outline: none; padding: 10px;margin-right: 10px;" #val (keyup)="navigateToComponent(val.value)"
                    class="t1" [matAutocomplete]="auto" placeholder="Feature Search">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let component of filteredComponents" (click)="navigateTo(component)">
                        {{component.name}}
                    </mat-option>
                </mat-autocomplete>
                <!-- <div class="logout"> -->
                <button mat-raised-button color="accent" (click)="logout()">Logout</button>
                <!-- </div> -->
            </div>
        <!-- </div> -->
    </mat-toolbar>
</div>