<div class="mainDiv">
    <app-nav-bar></app-nav-bar>

    <div class="subdiv">
        <app-mnbar></app-mnbar>

        <!-- <form [formGroup]="PersonForm">
            <div class="table-responsive">
                <div class="table-wrapper">

                    <div class="table-body" formArrayName="persons">
                        <div class="table-header display__flex">
                            <div class="table-column w200">ID</div>
                            <div class="table-column w200">Name</div>
                        </div>
                        <cdk-virtual-scroll-viewport itemSize="150" style="min-height: 1000px;">
                            <div class="table-row" *cdkVirtualFor="let person of personList?.controls; let i = index"
                                [formGroupName]="i">
                                <input type="text" formControlName="personId">
                                <input type="text" formControlName="personName">
                            </div>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
        </form> -->

        <button mat-raised-button color="accent" type="button" (click)="addPerson()">Add</button>
        <div mat-dialog-content style="max-height: 300px;overflow: auto;">
            <div class="table-header display__flex" style="position: fixed;z-index: 999;margin-bottom: 7rem;">
                <div class="table-column w200">ID</div>
                <div class="table-column w200">Name</div>

            </div>
            <cdk-virtual-scroll-viewport itemSize="40" style="height: 200px;">
                <div *cdkVirtualFor="let control of pList; let i = index">
                    <mat-form-field>
                        <input matInput readonly="true" [value]="control.personId">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [value]="control.personName" readonly="true">
                    </mat-form-field>
                    <button mat-icon-button color="accent" (click)="deletePerson(control?.personId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>

        <!-- {{personList.controls.length | json}} -->
    </div>
</div>