<div class="mainDiv">
    <app-nav-bar></app-nav-bar>

    <div class="subdiv">
        <app-mnbar></app-mnbar>
        <!-- <mat-card style="width: 30%;" id="ngForm">
            <cdk-virtual-scroll-viewport itemSize="30" style="height: 150px;">
                <mat-list-item *cdkVirtualFor="let data of dataList; let i = index">
                    <li>{{data.personId}}</li>
                </mat-list-item>
            </cdk-virtual-scroll-viewport>
        </mat-card> -->
        <div class="form-group">
            <input type="text" placeholder="Pick one" aria-label="Number" class="form-input form-control"  [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <cdk-virtual-scroll-viewport class="autocomplete-test-viewport" itemSize="35" style="height: 150px;"
                    minBufferPx="50" maxBufferPx="100">
                    <mat-option *cdkVirtualFor="let option of cdkLst" [value]="option.personId" class="autocomplete-item">
                        {{option.personId}}
                    </mat-option>
                </cdk-virtual-scroll-viewport>
            </mat-autocomplete>
        </div>
    </div>
</div>