<h1 class="pg1" mat-dialog-title>{{ data.title }}</h1>

<form [formGroup]="personForm" >
    <button mat-raised-button  (click)="addPerson()" color="warn">Add</button>

    <div mat-dialog-content formArrayName="dynamicArray">
        <!-- virtual srolling is used to render the list... -->
        <cdk-virtual-scroll-viewport itemSize="85" style="height: 200px;">
            <div *cdkVirtualFor="let control of personControls.controls; let i = index" [formGroupName]="i">
                <mat-form-field>
                    <input matInput formControlName="personId" placeholder="PersonId" readonly="true">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="personName" placeholder="PersonName">
                </mat-form-field>
                <button mat-icon-button color="accent" (click)="removePerson(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>

    <div mat-dialog-actions>
        <button mat-dialog-close mat-raised-button color="accent">Close</button>
        <button mat-raised-button (click)="returnFormData()">Submit</button>
    </div>
</form>
