<div class="page">


  <app-nav-bar></app-nav-bar>
  <div class="main">
    <app-mnbar></app-mnbar>
    <h2 style="letter-spacing: 3px; word-spacing: 3px;font-weight: 400;" id="searchHead">Search through fields</h2>
    <mat-card [formGroup]="searchForm" style="width: 1000px; margin: auto;">
      <div class="inputSearch">
        <input matInput placeholder="Search BId...." formControlName="bid">
        <input matInput placeholder="Search Bank Name...." formControlName="bname">
        <input matInput placeholder="Search Mainbranch...." formControlName="mainBranch">
        <app-cdk-virtual-scroll [Common]="Common"></app-cdk-virtual-scroll>

        <button class="search" type="submit" (click)="searchbtn(searchForm)" mat-raised-button>search</button>
      </div>
    </mat-card>

    <div class="table">
      <!-- <app-cdk-virtual-scroll [Common]="Common"></app-cdk-virtual-scroll> -->

      <div class="head" id="s1" style="margin-bottom: 1rem;">
        <div class="display__flex jsutify-content-space-between" style="width: 100%;">
          <input class="form-input w200" #key (keyup)="applyFilter(key.value)" placeholder="Global search...">
          <div [formGroup]="TotalBankBalance" class="m-t-10">
            <label for="">Total Bank Balance: </label>
            <input class="form-input w100"  placeholder="Total Balance" formControlName="totalBankBalance">
            {{balance }}
            <button style="margin-left: 10px;" mat-raised-button color="warm" type="button" (click)="saveBankbalance()">Update Balalnce</button>
          </div>
          <a (click)="createPg()" id="s2" mat-raised-button color="accent">Add</a>

        </div>
      </div>

      <div class="overflow">
        <table mat-table [dataSource]="bankLst" class="mat-elevation-z8">

          <!-- BId Column -->
          <ng-container matColumnDef="bid">
            <th mat-header-cell *matHeaderCellDef class="s3">BId</th>
            <td mat-cell *matCellDef="let b">{{ b.bid }}</td>
          </ng-container>

          <!-- Bank Name Column -->
          <ng-container matColumnDef="bname">
            <th mat-header-cell *matHeaderCellDef class="s4">Bank Name</th>
            <td mat-cell *matCellDef="let b">{{ b.bname }}</td>
          </ng-container>

          <!-- Main Branch Column -->
          <ng-container matColumnDef="mainBranch">
            <th mat-header-cell *matHeaderCellDef class="s5">Main Branch</th>
            <td mat-cell *matCellDef="let b">{{ b.mainBranch }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="s6">Email</th>
            <td mat-cell *matCellDef="let b">{{ b.email }}</td>
          </ng-container>

          <!-- PhNo Column -->
          <ng-container matColumnDef="phno">
            <th mat-header-cell *matHeaderCellDef class="s7">PhNo</th>
            <td mat-cell *matCellDef="let b">{{ b.phno }}</td>
          </ng-container>

          <ng-container matColumnDef="bankBalance">
            <th mat-header-cell *matHeaderCellDef class="s7">Bank Balance</th>
            <td mat-cell *matCellDef="let b">{{ b.bankBalance }}</td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef id="s8">Actions</th>
            <td mat-cell *matCellDef="let b">
              <button (click)="edit(b.bid)" mat-icon-button color="primary" aria-label="Edit">
                <!-- <mat-icon>edit</mat-icon> --><img width="18" height="18" src="assets/edit.png" />
              </button>
              <button (click)="delete(b.bid)" mat-icon-button color="primary" aria-label="Delete">
                <!-- <mat-icon>delete</mat-icon> --><img width="15" height="15" src="assets/del.png" />
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <br>
      <mat-paginator [length]="25" [pageSize]="5" showFirstLastButtons [pageSizeOptions]="[5, 10, 25]"
        aria-label="Select page">
      </mat-paginator>

    </div>
  </div>
</div>