<div class="mainDiv">
    <app-nav-bar></app-nav-bar>

    <div class="subdiv">
        <app-mnbar></app-mnbar>

        <div class="img">
            <img src="https://images.unsplash.com/photo-1560221328-12fe60f83ab8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z3JhcGhzfGVufDB8fDB8fHww" alt="">
            <img src="https://media.gettyimages.com/id/1464898692/vector/analyze-chart-concept.jpg?s=612x612&w=0&k=20&c=001CBXWig0INntXdfgIna1w5eXEbp4rxdFdcDefGpLw=" alt="">
        </div>
    </div>
</div>